@keyframes freddy {
    0% {
        right: 0%;
    }
    100% {
        right: 100%;
    }
}

#freddy {
    margin-top: 5em;
    margin-left: 3em;
    width: 150px;
    height: 150px;
    position: absolute;
    animation-name: freddy;
    animation-delay: 0s;
    animation-duration: 12s;
    animation-iteration-count: 25;
    animation-timing-function: linear;
    transition: 0s;
    transform-style: preserve-3d;
}