#rectangulo {
    background: pink;
    border-color: #ffffff #ffffff #000000 #000000;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #000000;
    border-width: 10px;
    padding: 1em 1em 1em 1em;
    font-family: 'Handlee', cursive;
    font-size: 10pt;
    font-weight: bold;
    text-align: justify;
    color: #41b6d3;
    margin-bottom: 6em;
}

.texto_boton {
    font-size: 15pt;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

#rectangulo2 {
    background: rgb(14, 39, 146);
    border-color: #ffffff #ffffff #000000 #000000;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #000000;
    border-width: 10px;
    padding: 1em 1em 1em 1em;
    font-family: 'Handlee', cursive;
    font-size: 20pt;
    font-weight: bold;
    text-align: justify;
    color: #41b6d3;
    margin-bottom: 6em;
}