body {
    cursor: url("/no_importa/img/quackity.cur"), url("/no_importa/img/quackity.cur"), pointer;
}

h1 {
    text-align: center;
    background-color: pink;
    font-size: 40pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    text-align: left;
}

.introduccion {
    text-align: left;
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pregunta {
    font-size: 30pt;
    text-align: center;
    font-weight: bold;
    color: brown;
    font-style: bold;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #00d7f3;
}

a:hover {
    color: #ff0095;
}

.baia {
    text-align: right;
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}