body {
    background-image: url('https://i.pinimg.com/originals/1b/21/a6/1b21a6c1ee65ba005ce50b3dc903d80e.gif');
    cursor: url("/no_importa/img/WilburLarge.cur"), url("/no_importa/img/WilburLarge.cur"), pointer;
    background-size: cover;
}